{% extends "base_form.html" %}

<!-- Use (if contact) to check for is_update or is_update_own (edit profile) -->
{% block form_action %}
{{ url_for('contacts.update', id=contact.id) if contact else url_for('contacts.create') }}
{% endblock %}

{% block form_fields %}
<label class="form-label" for="title">Título:</label>
<input type="text" name="title" class="form-control" value="{{ contact.title if contact else '' }}" placeholder="Título"
	{% if contact %}disabled{% endif %} required>

<label class="form-label" for="email">Email:</label>
<input type="email" name="email" class="form-control" value="{{ contact.email if contact else '' }}" placeholder="a@a.com"
	{% if contact %}disabled{% endif %} required>

<label class="form-label" for="description">Descripción:</label>
<input class="form-control" type="text" name="description" placeholder="Consulta" value="{{ contact.description if contact else '' }}" {% if contact %}disabled{% endif %} required>

{% if is_update %}

{% if is_update %}
<input type="hidden" name="updated_by" value="{{ user_id }}">
<div class="status-container">
    <p>Estado actual: <span class="badge badge-{{ 'primary' if contact.status_id == 1 else 'warning' if contact.status_id == 2 else 'success' }}">{{ statuses[contact.status_id - 1].name }}</span></p>
    {% if contact.status_id < 3 %}
        <select name="status" class="form-select">
            <option value="">Cambiar estado a...</option>
            <option value="{{ contact.status_id + 1 }}">{{ statuses[contact.status_id].name }}</option>
        </select>
        <button type="submit" class="btn btn-primary">Actualizar estado</button>
    {% endif %}
</div>
{% endif %}

<label class="form-label" for="comment">Comentario:</label>
<textarea name="comment" class="form-control" placeholder="Comentario" rows="3">{{ contact.comment if contact.comment != None else '' }}</textarea>
{% endif %}

{% endblock %}
