{% extends "base_show.html" %}

{% block title %}
    Consulta #{{ contact.id }}
{% endblock %}


	{% block content %}
	<h1>Consulta #{{ contact.id }} de {{ contact.name }}</h1>
    <div>
        <p><strong>Título:</strong> {{ contact.title }}</p>
        <p><strong>Nombre del usuario:</strong> {{ contact.name }}</p>
        <p><strong>Email:</strong> {{ contact.email }}</p>
        <p><strong>Mensaje:</strong> {{ contact.description }}</p>
        <p><strong>Estado:</strong> {{ contact.status.name }}</p>
    </div>
    <div>
		<p><strong>Comentario:</strong> {{ contact.comment if contact.comment != None else '' }}</p>
    </div>
    <div>
        <a href="{{ url_for('contacts.edit', id=contact.id) }}">Editar</a>
        <a href="{{ url_for('contacts.index') }}">Volver a la lista</a>
    </div>
	{% endblock %}
