{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('contents.update', id=content.id) if content else url_for('contents.create') }}
{% endblock %}

{% block form_fields %}
<label class="form-label" for="title">Título:</label>
<input type="text" id="title" name="title" required class="form-control" value="{{ content.title if content else '' }}">

<label class="form-label" for="summary">Resumen:</label>
<textarea id="summary" name="summary" required class="form-control">{{ content.summary if content else '' }}</textarea>

<label class="form-label" for="content">Contenido:</label>
<textarea id="content" name="content" required class="form-control">{{ content.content if content else '' }}</textarea>

{% if is_update %}
<input type="hidden" name="updated_by" value="{{ user_id }}">
<div class="status-container">
    <p>Estado actual: <span
            class="badge badge-{{ 'primary' if content.status_id == 1 else 'warning' if content.status_id == 2 else 'success' }}">{{
            statuses[content.status_id - 1].name }}</span></p>
    {% if content.status_id < 3 %} <select name="status" class="form-select">
        <option value="">Mantener estado actual</option>
        <option value="{{ content.status_id + 1 }}">{{ statuses[content.status_id].name }}</option>
        </select>
        <button type="submit" class="btn btn-primary">Actualizar estado</button>
        {% endif %}
</div>
{% endif %}
{% endblock %}
