{% extends "base_index.html" %}

{% block title %}
Contenidos
{% endblock %}

{% block page_title %}
Contenidos
{% endblock %}

<!-- Content table -->
{% set sorting_criteria = [("title", "Título"), ("creation_date", "Fecha de Creación"), ("publication_date", "Fecha de Publicación"), ("status", "Estado"),("summary", "Resumen"), ("author", "Autor")] %}
{% set sortable_fields = ["title"] %}
{% block table_rows %}
    {% for content in pagination.items %}
    <tr>
        <td>{{ content.title }}</td>
        <td>{{ content.creation_date.strftime('%d/%m/%Y') }}</td>
        <td>{{ content.publication_date.strftime('%d/%m/%Y') if content.publication_date else '-' }}</td>
        <td>{{ content.status }}</td>
        <td>{{ content.summary }} </td>
        <td>{{ content.author.alias }}</td>
        <td>
            <a href="{{ url_for('contents.show', id=content.id) }}">Ver</a>
            <a href="{{ url_for('contents.edit', id=content.id) }}">Editar</a>
            <a href="{{ url_for('contents.delete', id=content.id) }}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
