{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('documents.create', entity_type=entity_type, entity_id=entity_id) }}
{% endblock %}

{% block form_fields %}
        <label class="form-label" for="title">Título:</label>
        <input type="text" id="title" name="title" required class="form-control"
            value="{{ document.title if document else '' }}">

        <div id="link_input">
            <label class="form-label" for="link">Enlace:</label>
            <input type="url" id="link" name="link" class="form-control">
        </div>

        <div id="file_input">
            <label class="form-label" for="file">Archivo:</label>
            <input type="file" id="file" name="file" class="form-control">
        </div>

        <label class="form-label" for="document_type" required>Tipo de Documento:</label>
        <select id="document_type" name="document_type" class="form-control">
            <option value="Entrevista" {% if document and document.document_type == 'Entrevista' %}selected{% endif %}>Entrevista</option>
            <option value="Evaluación" {% if document and document.document_type == 'Evaluación' %}selected{% endif %}>Evaluación</option>
            <option value="Planificaciones" {% if document and document.document_type == 'Planificaciones' %}selected{% endif %}>Planificaciones</option>
            <option value="Evolución" {% if document and document.document_type == 'Evolución' %}selected{% endif %}>Evolución</option>
            <option value="Crónicas" {% if document and document.document_type == 'Crónicas' %}selected{% endif %}>Crónicas</option>
            <option value="Documental" {% if document and document.document_type == 'Documental' %}selected{% endif %}>Documental</option>
        </select>

{% endblock %}
