{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('horses.update', id=horse.id) if horse else url_for('horses.create') }}
{% endblock %}

{% block form_fields %}
        <label class="form-label" for="name">Nombre:</label>
        <input class="form-control" type="text" name="name" value="{{ horse.name if horse else '' }}" required>

        <label class="form-label" for="birth_date">Fecha de Nacimiento:</label>
        <input class="form-control" type="date" name="birth_date" value="{{ horse.birth_date.strftime('%Y-%m-%d') if horse else '' }}" required>

        <label class="form-label" for="gender">Sexo:</label>
        <select class="form-control" name="gender" required>
            {% for gender in genders %}
            <option value="{{ gender }}" {{ 'selected' if horse and horse.gender == gender else '' }}>{{ gender }}</option>
        {% endfor %}
        </select>
 

        <label class="form-label" for="breed">Raza:</label>
        <input class="form-control" type="text" name="breed" value="{{ horse.breed if horse else '' }}" required>

        <label class="form-label" for="coat">Pelaje:</label>
        <input class="form-control" type="text" name="coat" value="{{ horse.coat if horse else ''}}" required>

        <label class="form-label" for="purchase_donation">Compra/Donación:</label>
        <select class="form-control" name="purchase_donation" required>
            {% for option in purchase_donation %}
            <option value="{{ option }}" {{ 'selected' if horse and horse.purchase_donation == option else '' }}>{{ option }}</option>
        {% endfor %}
        </select>

        <label class="form-label"  for="entry_date">Fecha de Ingreso:</label>
        <input class="form-control" type="date" id="entry_date" name="entry_date"
         value="{{ horse.entry_date.strftime('%Y-%m-%d') if horse and horse.entry_date else '' }}"
            required>
        
        <label class="form-label" for="assigned_location">Sede Asignada:</label>
        <input class="form-control"  type="text" name="assigned_location" value="{{ horse.assigned_location if horse else '' }}" required>
        
        <label class="form-label" for="trainer_id">Entrenadores/Conductores:</label>
        <div class="form-check">
            {% if trainers %}
            {% for trainer in trainers %}
            <input class="form-check-input" type="checkbox" name="trainer_id" value="{{ trainer.id }}"
                id="trainer_{{ trainer.id }}" {% if trainer.id in associated_trainer_ids %}checked{% endif %}> 
            <label class="form-check-label" for="trainer_{{ trainer.id }}">
                {{ trainer.name }} {{ trainer.surname }} - Puesto laboral: {{ trainer.job_position }}
            </label>
            <br>
            {% endfor %}
            {% else %}
            <p>No hay entrenadores disponibles</p> <!-- Mensaje alternativo -->
            {% endif %}
        </div>

        <label class="form-label" for="assigned_activities_ja">Tipo de J&A Asignados:</label>
        <select class="form-control" name="assigned_activities_ja" required>
            {% for activity in activities %}
            <option value="{{ activity }}" {{ 'selected' if horse and horse.assigned_activities_ja == activity else '' }}>{{ activity }}</option>
        {% endfor %}
        </select>

{% endblock %}
