{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('employees.update', id=employee.id) if employee else url_for('employees.create') }}
{% endblock %}

{% block form_fields %}
<label class="form-label" for="name">Nombre:</label>
<input type="text" id="name" name="name" required class="form-control" value="{{ employee.name if employee else '' }}">

<label class="form-label" for="surname">Apellido:</label>
<input type="text" id="surname" name="surname" required class="form-control"
    value="{{ employee.surname if employee else '' }}">


<label class="form-label" for="dni">DNI:</label>
<input type="text" id="dni" name="dni" required class="form-control" value="{{ employee.dni if employee else '' }}"
    {% if is_update %}disabled{% endif %}>

<label class="form-label" for="address">Domicilio:</label>
<input type="text" id="address" name="address" required class="form-control"
    value="{{ employee.address if employee else '' }}">

    
<label class="form-label" for="email">Email:</label>
<input type="email" id="email" name="email" required class="form-control"
    value="{{ employee.email if employee else '' }}" {% if is_update %}disabled{% endif %}>


<label class="form-label" for="city">Localidad:</label>
<input type="text" id="city" name="city" required class="form-control" value="{{ employee.city if employee else '' }}">

<label class="form-label" for="telephone">Teléfono:</label>
<input type="text" id="telephone" name="telephone" required class="form-control"
    value="{{ employee.telephone if employee else '' }}">


<label class="form-label" for="profession">Profesión:</label>
<select id="profession" name="profession" required class="form-control">
    {% set professions = ['Psicólogo/a', 'Psicomotricista', 'Médico/a', 'Kinesiólogo/a', 'Terapista Ocupacional', 'Psicopedagogo/a', 'Docente', 'Profesor', 'Fonoaudiólogo/a', 'Veterinario/a', 'Otro'] %}
    {% for profession in professions %}
    <option value="{{ profession }}" {{ 'selected' if employee and employee.profession == profession else '' }}>
        {{ profession }}
    </option>
    {% endfor %}
</select>

<label class="form-label" for="job_position">Puesto Laboral:</label>
<select id="job_position" name="job_position" required class="form-control">
    {% set job_positions = ['Administrativo/a', 'Terapeuta', 'Conductor', 'Auxiliar de pista', 'Herrero', 'Veterinario', 'Entrenador de Caballos', 'Domador', 'Profesor de Equitación', 'Docente de Capacitación', 'Auxiliar de mantenimiento', 'Otro'] %}
    {% for position in job_positions %}
    <option value="{{ position }}" {{ 'selected' if employee and employee.job_position == position else '' }}>
        {{ position }}
    </option>
    {% endfor %}
</select>

<label class="form-label" for="start_date">Fecha de Inicio:</label>
<input class="form-control" type="date" id="start_date" name="start_date" required
    value="{{ employee.start_date.strftime('%Y-%m-%d') if employee and employee.start_date else '' }}">

<label class="form-label" for="termination_date">Fecha de Cese:</label>
<input class="form-control" type="date" id="termination_date" name="termination_date"
    value="{{ employee.termination_date.strftime('%Y-%m-%d') if employee and employee.termination_date else '' }}">


<label class="form-label" for="emergency_contact_info">Contacto de Emergencia:</label>
<input placeholder="Indicar nombre y telefono" class="form-control" type="text" id="emergency_contact_info"
    name="emergency_contact_info" required value="{{ employee.emergency_contact_info if employee else '' }}">

<label class="form-label" for="social_work">Obra Social:</label>
<input class="form-control" type="text" id="social_work" name="social_work"
    value="{{ employee.social_work if employee else '' }}" required>

<label class="form-label" for="associate_number">N° de Afiliado:</label>
<input class="form-control" type="text" id="associate_number" name="associate_number"
    value="{{ employee.associate_number if employee else '' }}" required {% if is_update %}disabled{% endif %}>

<label class="form-label" for="condition">Condición:</label>
<select class="form-control" id="condition" name="condition" required>
    {% set conditions = ['Voluntario', 'Personal Rentado'] %}
    {% for condition in conditions %}
    <option value="{{ condition }}" {{ 'selected' if employee and employee.condition == condition else '' }}>
        {{ condition }}
    </option>
    {% endfor %}
</select>
{% if is_update %}
<div>
<label class="form-label" for="active">Activo</label>
<input class="form-check-input" type="checkbox" name="active" value="true" {% if employee.active %}checked{% endif %}>
</div>
{% endif %}

{% endblock %}
