{% extends "base_index.html" %}

{% block title %}
Listado de Empleados
{% endblock %}

{% block page_title %}
Empleados
{% endblock %}

{% set show_search=true %}

{% block search_placeholder %}
Buscar por Nombre, Apellido, DNI o Email
{% endblock %}



{% block filters %}
    <div>
        <select name="job_position" class="form-control">
            <option value="">Todos los Puestos Laborales</option>
            <option value="Administrativo/a" {% if 'Administrativo/a' in request.args.getlist('positions') %}selected{% endif %}>
                Administrativo/a</option>
            <option value="Terapeuta" {% if 'Terapeuta' in request.args.getlist('positions') %}selected{% endif %}>Terapeuta
            </option>
            <option value="Conductor" {% if 'Conductor' in request.args.getlist('positions') %}selected{% endif %}>Conductor
            </option>
            <option value="Auxiliar de pista" {% if 'Auxiliar de pista' in request.args.getlist('positions') %}selected{% endif %}>
                Auxiliar de pista</option>
            <option value="Herrero" {% if 'Herrero' in request.args.getlist('positions') %}selected{% endif %}>Herrero</option>
            <option value="Veterinario/a" {% if 'Veterinario/a' in request.args.getlist('positions') %}selected{% endif %}>
                Veterinario/a</option>
            <option value="Entrenador de Caballos" {% if 'Entrenador de Caballos' in request.args.getlist('positions') %}selected{%
                endif %}>Entrenador de Caballos</option>
            <option value="Domador" {% if 'Domador' in request.args.getlist('positions') %}selected{% endif %}>Domador</option>
            <option value="Profesor de Equitación" {% if 'Profesor de Equitación' in request.args.getlist('positions') %}selected{%
                endif %}>Profesor de Equitación</option>
            <option value="Docente de Capacitación" {% if 'Docente de Capacitación' in request.args.getlist('positions')
                %}selected{% endif %}>Docente de Capacitación</option>
            <option value="Auxiliar de mantenimiento" {% if 'Auxiliar de mantenimiento' in request.args.getlist('positions')
                %}selected{% endif %}>Auxiliar de mantenimiento</option>
            <option value="Otro" {% if 'Otro' in request.args.getlist('positions') %}selected{% endif %}>Otro</option>

        </select>
    </div>
{% endblock %}



<!-- Employee table -->
    {% set sorting_criteria = [("name", "Nombre"), ("surname", "Apellido"), ("dni", "DNI"),("email","Email"), ("job_position", "Puesto Laboral"), ("start_date", "Fecha de Ingreso")] %}
    {% set sortable_fields = ["name", "surname", "start_date"] %}
    {% block table_rows %}
        {% for employee in pagination.items %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.surname }}</td>
            <td>{{ employee.dni }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.job_position }}</td>
            <td>{{ employee.start_date.strftime('%d/%m/%Y')}}</td>
            <td>
                <a href="{{ url_for('employees.show', id=employee.id) }}">Ver</a>
                <a href="{{ url_for('employees.edit', id=employee.id) }}">Editar</a>
                <a href="{{ url_for('employees.delete', id=employee.id) }}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% endblock %}  

