<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="navbar">
        {% block navbar %}
        <nav>
            <ul class="top-menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <!-- Agr mas links -->
            </ul>
        </nav>
        {% endblock %}
    </div>

    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <div>{% block footer %}{% endblock %}</div>
</body>

</html>
