<!-- muestra el formulario para crear o actualizar -->

{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('receipts.update', id=receipt.id) if receipt else url_for('receipts.create') }}
{% endblock %}

{% block form_fields %}
<label class="form-label" for="ja_id">J&A:</label>
<input type="text" id="ja_id" name="ja_id" required class="form-control" value="{{ receipt.ja_id if receipt else '' }}">

<label class="form-label" for="fecha_pago">Fecha de Pago:</label>
<input class="form-control" type="date" id="fecha_pago" name="fecha_pago" required
    value="{{ receipt.fecha_pago.strftime('%Y-%m-%d') if receipt and receipt.fecha_pago else '' }}">

<label class="form-label" for="monto">Monto:</label>
<input class="form-control" type="number" id="monto" name="monto" required step="0.01"
    value="{{ receipt.monto if receipt else '' }}">

<label class="form-label" for="payment_method">Método de Pago:</label>
<select class="form-control" id="payment_method" name="payment_method" required>
    <option value="Efectivo" {{ 'selected' if receipt and receipt.payment_method=='Efectivo' else '' }}>Efectivo
    </option>
    <option value="Transferencia" {{ 'selected' if receipt and receipt.payment_method=='Transferencia' else '' }}>
        Transferencia</option>
    <option value="Tarjeta de Crédito" {{ 'selected' if receipt and receipt.payment_method=='Tarjeta de Crédito' else ''
        }}>Tarjeta de Crédito</option>
    <option value="Tarjeta de Débito" {{ 'selected' if receipt and receipt.payment_method=='Tarjeta de Débito' else ''
        }}>Tarjeta de Débito</option>
    <option value="Otro" {{ 'selected' if receipt and receipt.payment_method=='Otro' else '' }}>Otro</option>
</select>

<label class="form-label" for="recipient">Recibido por:</label>
<input type="text" id="recipient" name="recipient" required class="form-control"
    value="{{ receipt.recipient if receipt else '' }}">

<label class="form-label" for="observations">Observaciones:</label>
<textarea class="form-control" id="observations"
    name="observations">{{ receipt.observations if receipt else '' }}</textarea>

{% endblock %}