<!-- muestra el formulario para crear o actualizar -->

{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('receipts.update', id=receipt.id) if receipt else url_for('receipts.create') }}
{% endblock %}

{% block form_fields %}
<div class="form-group">
    <label class="form-label" for="ja_id">J&A (Jinete y Amazonas)</label>
    <select name="ja_id" class="form-control" required>
        <option value="" disabled {{ 'selected' if not receipt }}>Seleccione un jinete</option>
        {% for rider in riders %}
        <option value="{{ rider.id }}" {% if receipt and receipt.ja_id==rider.id %}selected{% endif %}>
            {{ rider.alias }}
        </option>
        {% endfor %}
    </select>
</div>

<label class="form-label" for="fecha_pago">Fecha de Pago:</label>
<input class="form-control" type="date" id="fecha_pago" name="fecha_pago" required
    value="{{ receipt.fecha_pago.strftime('%Y-%m-%d') if receipt and receipt.fecha_pago else '' }}">

<label class="form-label" for="monto">Monto:</label>
<input class="form-control" type="number" id="monto" name="monto" required step="0.01"
    value="{{ receipt.monto if receipt else '' }}">

<label class="form-label" for="payment_method">Método de Pago:</label>
<select class="form-control" id="payment_method" name="payment_method" required>
    <option value="Efectivo" {{ 'selected' if receipt and receipt.payment_method=='Efectivo' else '' }}>Efectivo
    </option>
    <option value="Transferencia" {{ 'selected' if receipt and receipt.payment_method=='Transferencia' else '' }}>
        Transferencia</option>
    <option value="Tarjeta de Crédito" {{ 'selected' if receipt and receipt.payment_method=='Tarjeta de Crédito' else ''
        }}>Tarjeta de Crédito</option>
    <option value="Tarjeta de Débito" {{ 'selected' if receipt and receipt.payment_method=='Tarjeta de Débito' else ''
        }}>Tarjeta de Débito</option>
    <option value="Otro" {{ 'selected' if receipt and receipt.payment_method=='Otro' else '' }}>Otro</option>
</select>

<div class="form-group">
    <label class="form-label" for="empleado_id">Recibido por (Empleado)</label>
    <select name="empleado_id" class="form-control" required>
        <option value="" disabled {{ 'selected' if not receipt }}>Seleccione un empleado</option>
        {% for employee in employees %}
        <option value="{{ employee.id }}" {% if receipt and receipt.empleado_id==employee.id %}selected{% endif %}>
            {{ employee.nombre }}
        </option>
        {% endfor %}
    </select>
</div>

<label class="form-label" for="observations">Observaciones:</label>
<textarea class="form-control" id="observations"
    name="observations">{{ receipt.observations if receipt else '' }}</textarea>

{% endblock %}