<!-- muestra el formulario para crear o actualizar -->

{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('receipts.update', id=receipt.id) if receipt else url_for('receipts.create') }}
{% endblock %}

{% block form_fields %}
<label class="form-label" for="ja_id">J&A (Jinete y Amazonas)</label>
<select name="ja_id" id="ja_id" class="form-control">
    <option value="">Seleccione un jinete</option>
    {% for rider in riders %}
    <option value="{{ rider.id }}" {% if receipt and receipt.ja_id==rider.id %}selected{% endif %}>
        {{ rider.name }} {{ rider.surname }}
    </option>
    {% endfor %}
</select>

<label class="form-label" for="payment_date">Fecha de Pago:</label>
<input class="form-control" type="date" id="payment_date" name="payment_date" required
    value="{{ receipt.payment_date.strftime('%Y-%m-%d') if receipt and receipt.payment_date else '' }}">

<label class="form-label" for="quantity">Monto:</label>
<input class="form-control" type="number" id="quantity" name="quantity" required step="0.01"
    value="{{ receipt.quantity if receipt else '' }}">

    <label class="form-label" for="payment_method">Método de Pago:</label>
    <select class="form-control" id="payment_method" name="payment_method" required>
        {% set payment_methods = ['Efectivo', 'Transferencia', 'Tarjeta de Crédito', 'Tarjeta de Débito', 'Otro'] %}
        {% for method in payment_methods %}
        <option value="{{ method }}" {{ 'selected' if receipt and receipt.payment_method == method else '' }}>
            {{ method }}
        </option>
        {% endfor %}
    </select>

<label for="empleado" class="form-label">Recibido por (Empleado):</label>
<select name="employee_id" id="empleado" class="form-control">
    <option value="">Seleccione un empleado</option>
    {% for employee in employees %}
    <option value="{{ employee.id }}" {% if receipt and receipt.employee_id==employee.id %}selected{% endif %}>
        {{ employee.name }} {{ employee.surname }}
    </option>
    {% endfor %}
</select>


<label class="form-label" for="observations">Observaciones:</label>
<textarea class="form-control" id="observations" name="remarks">{{ receipt.observations if receipt else '' }}</textarea>

{% if is_update %}
<label class="form-label" for="up_to_date">Al dia</label>
<input class="form-check-input" type="checkbox" name="up_to_date" value="true" {% if receipt.up_to_date %}checked{% endif %}>
{% endif %}




{% endblock %}