<!-- muestra la lista de recibos con paginación, y permite ordenar y filtrar los resultados -->

{% extends "base_index.html" %}

{% block title %}
Cobros
{% endblock %}

{% block page_title %}
Cobros
{% endblock %}
{% block search_placeholder %}
Buscar por Nombre o Apellido de quien recibe el dinero
{% endblock %}

{% set show_search=true %}


{% block filters %}
<div class="form-group">
    <label for="start_date" class="form-label">Fecha de inicio</label>
    <input class="form-control" type="date" name="start_date" id="start_date"
        value="{{ request.args.get('start_date') }}">
</div>
<div class="form-group">
    <label class="form-label" for="end_date">Fecha de fin</label>
    <input class="form-control" type="date" name="end_date" id="end_date" value="{{ request.args.get('end_date') }}">
</div>
<div class="form-group">
    <label class="form-label" for="payment_method">Método de Pago:</label>
<select class="form-control" id="payment_method" name="payment_method" >
    {% set payment_methods = ['Efectivo', 'Transferencia', 'Tarjeta de Crédito', 'Tarjeta de Débito', 'Otro'] %}
    <option value="">Todos los Metodos de Pago</option>
    {% for method in payment_methods %}
    <option value="{{ method }}" {{ 'selected' if receipt and receipt.payment_method == method else '' }}>
        {{ method }}
    </option>
    {% endfor %}
</select>
</div>

{% endblock %}
{% set sorting_criteria = [("payment_date", "Fecha de Pago"), ("payment_method", "Medio de Pago"),
("employee_id", "Recibido por")] %}
{% set sortable_fields = ["payment_date"] %}
{% block table_rows %}
{% for receipt in pagination.items %}


<tr>
    <td>{{ receipt.payment_date.strftime('%Y-%m-%d') }}</td>
    <td>{{ receipt.payment_method }}</td>
    <td>{% set employee = received_by | selectattr("id", "==", receipt.employee_id) | first %}
    {% if employee %}
    {{ employee.name }} {{ employee.surname }}
    {% else %}
    N/A
    {% endif %}</td>
    <td>
        <a href="{{ url_for('receipts.show', id=receipt.id) }}">Ver</a>
        <a href="{{ url_for('receipts.edit', id=receipt.id) }}">Editar</a>
        <a href="{{ url_for('receipts.delete', id=receipt.id) }}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
    </td>
</tr>
{% endfor %}

{% endblock %}