<!-- muestra la lista de recibos con paginación, y permite ordenar y filtrar los resultados -->

{% extends "base_index.html" %}

{% block title %}
Listado de Recibos
{% endblock %}

{% block page_title %}
Recibos
{% endblock %}

{% set show_search=true %}


{% block filters %}
<div class="form-group">
    <label for="start_date">Fecha de inicio</label>
    <input type="date" name="start_date" id="start_date" value="{{ request.args.get('start_date') }}">
</div>
<div class="form-group">
    <label for="end_date">Fecha de fin</label>
    <input type="date" name="end_date" id="end_date" value="{{ request.args.get('end_date') }}">
</div>
<div class="form-group">
    <label for="medio_pago">Medio de Pago</label>
    <select name="medio_pago" id="medio_pago">
        <option value="">Todos</option>
        <option value="Efectivo" {% if request.args.get('medio_pago')=='Efectivo' %}selected{% endif %}>Efectivo
        </option>
        <option value="Tarjeta de Crédito" {% if request.args.get('medio_pago')=='Tarjeta de Crédito' %}selected{% endif
            %}>Tarjeta de Crédito</option>
        <option value="Tarjeta de Débito" {% if request.args.get('medio_pago')=='Tarjeta de Débito' %}selected{% endif
            %}>Tarjeta de Débito</option>
    </select>
</div>

{% endblock %}
{% set sorting_criteria = [("fecha_pago", "Fecha de Pago"), ("monto", "Monto"), ("medio_pago", "Medio de Pago"),
("empleado_id", "Recibido por")] %}
{% set sortable_fields = ["fecha_pago", "monto"] %}
{% block table_rows %}
{% for receipt in pagination.items %}


<tr>
    <td>{{ receipt.fecha_pago.strftime('%Y-%m-%d') }}</td>
    <td>{{ receipt.monto }}</td>
    <td>{{ receipt.medio_pago }}</td>
    <td>{{ receipt.empleado_id }}</td>
    <td>
        <a href="{{ url_for('receipts.show', id=receipt.id) }}">Mostrar</a>
        <a href="{{ url_for('receipts.edit', id=receipt.id) }}">Editar</a>
        <a href="{{ url_for('receipts.delete', id=receipt.id) }}" onclick="return confirm('Are you sure?')">Eliminar</a>
    </td>
</tr>
{% endfor %}

{% endblock %}