<!-- muestra los detalles de un recibo específico -->

{% extends "base_show.html" %}

{% block content %}
<h1>Detalles del Recibo</h1>

<ul>
    <li><strong>J&A:</strong> {{ receipt.ja.name }} {{ receipt.ja.surname }} </li>
    <li><strong>Fecha de Pago:</strong> {{ receipt.payment_date.strftime('%Y-%m-%d') }}</li>
    <li><strong>Monto:</strong> {{ receipt.quantity }}</li>
    <li><strong>Medio de Pago:</strong> {{ receipt.payment_method }}</li>
    <li><strong>Recibido por participante de equipo:</strong> {{ receipt.employee.name }} {{ receipt.employee.surname }} - {{ receipt.employee.job_position}}</li>
    <li><strong>Observaciones:</strong> {{ receipt.remarks or 'N/A' }}</li>
    <li><strong>Al día:</strong> {% if receipt.up_to_date %}Si{% else %}No{% endif %}</li>

</ul>

<a href="{{ url_for('receipts.index') }}">Volver</a>
<a href="{{ url_for('receipts.edit', id=receipt.id) }}">Editar</a>

{% endblock %}