{% extends "base_index.html" %}

{% block title %}
Listado de Documentos
{% endblock %}

{% block page_title %}
Documentos
{% endblock %}

{% set show_search=true %}

{% block search_placeholder %}
Buscar por Tipo, Titulo
{% endblock %}


<!-- Documents table -->
    {% set sorting_criteria = [("document_type", "Tipo"), ("title", "Título")] %}
    {% set sortable_fields = ["title", "upload_date"] %}
    {% block table_rows %}
        {% for document in pagination.items %}
        <tr>
            <td>{{ document.title }}</td>
            <td>{{ document.document_type }}</td>
            {% if document.file %}
                <td>{{ document.file }}</td>
            {% else %}
                <td>{{ document.link }}</td>
            {% endif %}
            <td>{{ document.upload_date }}</td>
            <!-- ver -->
            <td>{{ document.actions }}</td>
            <td>      
            <!-- Agregar acciones sobre el documento -->
                {% if logged_user and logged_user.has_permission('rider_show') %}
                <a href="{{ url_for('riders.show', id=rider.id) }}">Volver</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% endblock %}  

    