{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('riders.update', id=rider.id) if rider else url_for('riders.create') }}
{% endblock %}

{% block form_fields %}

<h2>FICHA DE DATOS PERSONALES</h2>
<h3>DATOS PERSONALES DEL JINETE O AMAZONA</h3>

<label class="form-label" for="name">Nombre/s:</label>
<input type="text" id="name" name="name" required class="form-control" value="{{ rider.name if rider else '' }}">

<label class="form-label" for="surname">Apellido/s:</label>
<input type="text" id="surname" name="surname" required class="form-control" value="{{ rider.surname if rider else '' }}">

<label class="form-label" for="dni">DNI:</label>
<input type="text" id="dni" name="dni" required class="form-control" value="{{ rider.dni if rider else '' }}">

<label class="form-label" for="edad">Edad:</label>
<input type="number" id="edad" name="age" required class="form-control" value="{{ rider.age if rider else '' }}">

<label class="form-label" for="fecha_nacimiento">Fecha de nacimiento:</label>
<input class="form-control" type="date" id="fecha_nacimiento" name="birthdate" required value="{{ rider.birthdate.strftime('%Y-%m-%d') if rider else '' }}">

<label class="form-label" for="birth_place">Lugar de nacimiento (localidad y provincia):</label>
<input type="text" id="birth_place" name="birth_place" required class="form-control" value="{{ rider.birth_place if rider else '' }}">

<label class="form-label" for="address">Domicilio actual (calle, nro, depto., localidad, provincia):</label>
<input type="text" id="address" name="address" required class="form-control" value="{{ rider.address if rider else '' }}">

<label class="form-label" for="phone">Teléfono actual:</label>
<input type="tel" id="phone" name="phone" required class="form-control" value="{{ rider.phone if rider else '' }}">

<label class="form-label" for="emergency_contact">Contacto de emergencia:</label>
<input type="text" id="emergency_contact" name="emergency_contact" required class="form-control" value="{{ rider.emergency_contact if rider else '' }}">

<label class="form-label" for="emergency_contact_phone_number">Telefono contacto de emergencia:</label>
<input type="tel" id="emergency_contact_phone_number" name="emergency_contact_phone_number" required class="form-control" value="{{ rider.emergency_contact_phone_number if rider else '' }}">

<label class="form-label" for="scholarship">BECADO: <strong>Si/No</strong></label>
<input type="checkbox" id="scholarship" name="scholarship" class="form-check-input" {% if rider and rider.scholarship %}checked{% endif %}>
<br>
<label class="form-label" for="scholarship_percentage">Porcentaje de beca:</label>
<input type="number" id="scholarship_percentage" name="scholarship_percentage" class="form-control" min="0" max="100" step="0.01" value="{{ rider.scholarship_percentage if rider else '0' }}" {% if rider and rider.scholarship %}required{% endif %}>
<br>
<label class="form-label" for="observations">Observaciones:</label>
<textarea id="observations" name="observations" class="form-control">{{ rider.observations if rider else '' }}</textarea>

<label class="form-label" for="disability_certificate">¿Posee Certificado de Discapacidad? <strong>Si/No</strong></label>
<input type="checkbox" id="disability_certificate" name="disability_certificate" class="form-check-input" {% if rider and rider.disability_certificate %}checked{% endif %}>
<br>

<label class="form-label" for="diagnosis">¿Con qué diagnóstico?</label>
<select id="diagnosis" name="diagnosis" class="form-control">
  {% for diagnosis in diagnoses %}
  <option value="{{ diagnosis }}" {% if rider and rider.diagnosis == diagnosis %}selected{% endif %}>{{ diagnosis }}</option>
  {% endfor %}
</select>

<label class="form-label" for="disability_type">Tipo de Discapacidad:</label>
<select id="disability_type" name="disability_type" class="form-control">
  {% for value in disability_types %}
  <option value="{{ value }}" {% if rider and rider.disability_type == value %}selected{% endif %}>{{ value }}</option>
  {% endfor %}
</select>

<label class="form-label" for="family_assignment">¿Percibe alguna Asignación Familiar? <strong>Si/No</strong></label>
<input type="checkbox" id="family_assignment" name="family_assignment" class="form-check-input" {% if rider and rider.family_assignment %}checked{% endif %}>
<br>

<label class="form-label" for="assignments">Asignaciones:</label>
{% set assignments = [
('assignment_universal', 'Asignación Universal por hijo'),
('assignment_disability', 'Asignación Universal por hijo con Discapacidad'),
('assignment_school', 'Asignación por ayuda escolar anual')
] %}
{% for id, label in assignments %}
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="{{ id }}" name="assignments" value="{{ label }}" {% if rider and has_assignment(rider, label) %}checked{% endif %}>
  <label class="form-check-label" for="{{ id }}">
	{{ label }}
  </label>
</div>
{% endfor %}

<label class="form-label" for="pension">¿Es beneficiario de alguna pensión?</label>
<select id="pension" name="pension" class="form-control">
  {% for value in pension_types %}
  <option value="{{ value }}" {% if rider and rider.pension == value %}selected{% endif %}>{{ value }}</option>
  {% endfor %}
</select>

<h2>SITUACIÓN PREVISIONAL</h2>
<label class="form-label" for="health_insurance">Obra Social del Alumno:</label>
<input type="text" id="health_insurance" name="health_insurance" class="form-control" value="{{ rider.health_insurance if rider else '' }}">

<label class="form-label" for="affiliate_number">Nº afiliado:</label>
<input type="text" id="affiliate_number" name="affiliate_number" class="form-control" value="{{ rider.affiliate_number if rider else '' }}">

<label class="form-label" for="guardianship">¿Posee curatela? (<strong>Si/No</strong>):</label>
<input type="checkbox" id="guardianship" name="guardianship" class="form-check-input" {% if rider and rider.guardianship %}checked{% endif %}>
<br>

<label class="form-label" for="school_institution">INSTITUCIÓN ESCOLAR A LA QUE CONCURRE ACTUALMENTE:</label>
<input type="text" id="school_institution" name="school_institution" class="form-control" value="{{ rider.school_institution if rider else '' }}">

<label class="form-label" for="institution_address">Dirección:</label>
<input type="text" id="institution_address" name="institution_address" class="form-control" value="{{ rider.institution_address if rider else '' }}">

<label class="form-label" for="institution_phone">Teléfono:</label>
<input type="tel" id="institution_phone" name="institution_phone" class="form-control" value="{{ rider.institution_phone if rider else '' }}">

<label class="form-label" for="grade">Grado / año actual:</label>
<input type="text" id="grade" name="grade" class="form-control" value="{{ rider.grade if rider else '' }}">

<label class="form-label" for="institution_observations">Observaciones de la institución:</label>
<textarea id="institution_observations" name="institution_observations" class="form-control">{{ rider.institution_observations if rider else '' }}</textarea>

<h3>PROFESIONALES que lo ATIENDEN</h3>
<input type="text" id="professionals" name="professionals" class="form-control" value="{{ rider.professionals if rider else '' }}">

<h2>DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s</h2>
{% for i in range(2) %}
<h3>Familiar o Tutor responsable {{ i + 1 }}</h3>
<label class="form-label" for="tutor_relationship_{{ i }}">Parentesco:</label>
<input type="text" id="tutor_relationship_{{ i }}" name="tutor_relationship_{{ i }}" class="form-control" value="{{ tutors[i][0].relationship if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_name_{{ i }}">Nombre:</label>
<input type="text" id="tutor_name_{{ i }}" name="tutor_name_{{ i }}" class="form-control" value="{{ tutors[i][0].name if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_surname_{{ i }}">Apellido:</label>
<input type="text" id="tutor_surname_{{ i }}" name="tutor_surname_{{ i }}" class="form-control" value="{{ tutors[i][0].surname if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_dni_{{ i }}">DNI:</label>
<input type="text" id="tutor_dni_{{ i }}" name="tutor_dni_{{ i }}" class="form-control" value="{{ tutors[i][0].dni if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_address_{{ i }}">Domicilio actual (calle, nº, piso, depto., localidad, provincia):</label>
<input type="text" id="tutor_address_{{ i }}" name="tutor_address_{{ i }}" class="form-control" value="{{ tutors[i][0].address if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_cellphone_{{ i }}">Celular actual:</label>
<input type="tel" id="tutor_cellphone_{{ i }}" name="tutor_cellphone_{{ i }}" class="form-control" value="{{ tutors[i][0].cellphone if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_email_{{ i }}">Email:</label>
<input type="email" id="tutor_email_{{ i }}" name="tutor_email_{{ i }}" class="form-control" value="{{ tutors[i][0].email if tutors and i < tutor_cant else '' }}">

<label class="form-label" for="tutor_educational_level_{{ i }}">Nivel de escolaridad:</label>
<select id="tutor_educational_level_{{ i }}" name="tutor_educational_level_{{ i }}" class="form-control">
  {% set education_levels = ['Primario', 'Secundario', 'Terciario', 'Universitario'] %}
  {% for level in education_levels %}
  <option value="{{ level }}" {% if tutors and i < tutor_cant and tutors[i][0].educational_level == level %}selected{% endif %}>{{ level }}</option>
  {% endfor %}
</select>

<label class="form-label" for="tutor_occupation_{{ i }}">Actividad u ocupación:</label>
<input type="text" id="tutor_occupation_{{ i }}" name="tutor_occupation_{{ i }}" class="form-control" value="{{ tutors[i][0].occupation if tutors and i < tutor_cant else '' }}">
{% endfor %}

<h2>TRABAJO EN NUESTRA INSTITUCIÓN</h2>
{% set select_fields = [
('work_proposal', 'Propuesta de trabajo institucional', work_proposals),
('condition', 'Condición', conditions),
('headquarters', 'SEDE', headquarters)
] %}

{% for id, label, options in select_fields %}
<label class="form-label" for="{{ id }}">{{ label }}:</label>
<select id="{{ id }}" name="{{ id }}" class="form-control" required>
  {% for option in options %}
  <option value="{{ option }}" {% if rider and rider[id] == option %}selected{% endif %}>{{ option }}</option>
  {% endfor %}
</select>
{% endfor %}

<label class="form-label" for="days">DÍA:</label>
{% for day in all_days %}
<div class="form-check">
  <input class="form-check-input" type="checkbox" id="{{ day.id }}" name="days" value="{{ day.id }}" {% if rider and day in rider.days %}checked{% endif %}>
  <label class="form-check-label" for="{{ day.id }}">
	{{ day.name }}
  </label>
</div>
{% endfor %}

{% set staff_fields = [
('therapist_teacher_id', 'Profesor/a o Terapeuta', profesor_therapist),
('horse_conductor_id', 'Conductor/a del caballo', conductor),
('track_assistant_id', 'Auxiliar de Pista', auxiliar_pista)
] %}

{% for id, label, staff_list in staff_fields %}
<label class="form-label" for="{{ id }}">{{ label }}:</label>
<select id="{{ id }}" name="{{ id }}" class="form-control">
  <option value="None" {% if not rider or not rider[id.replace('_id', '')] %}selected{% endif %}>Ninguno</option>
  {% for employee in staff_list %}
  <option value="{{ employee.id }}" {% if rider and rider[id.replace('_id', '')] and rider[id.replace('_id', '')].id == employee.id %}selected{% endif %}>{{ employee.name }}</option>
  {% endfor %}
</select>
{% endfor %}

<label class="form-label" for="horse_id">Caballo:</label>
<select id="horse_id" name="horse_id" class="form-control">
  <option value="None" {% if not rider or not rider.horse %}selected{% endif %}>Ninguno</option>
  {% for horse in all_horses %}
  <option value="{{ horse.id }}" {% if rider and rider.horse and rider.horse.id == horse.id %}selected{% endif %}>{{ horse.name }}</option>
  {% endfor %}
</select>
{% endblock %}
