{% extends "base_index.html" %}

{% block title %}
Listado de Jinetes/Amazonas
{% endblock %}

{% block page_title %}
Jinetes & Amazonas
{% endblock %}

{% set show_search=true %}

{% block search_placeholder %}
Buscar por Nombre, Apellido, DNI o Profesionales que lo atienden
{% endblock %}


<!-- Rider table -->
    {% set sorting_criteria = [("nombre", "Nombre"), ("apellido", "Apellido"), ("dni", "DNI"), ("profesionales", "Profesionales")] %}
    {% set sortable_fields = ["nombre", "apellido"] %}
    {% block table_rows %}
        {% for rider in pagination.items %}
        <tr>
            <td>{{ rider.nombre }}</td>
            <td>{{ rider.apellido }}</td>
            <td>{{ rider.dni }}</td>
            <td>{{ rider.profesionales }}</td>
            <td>
                <a href="{{ url_for('riders.show', id=rider.id) }}">Mostrar</a>
                <a href="{{ url_for('riders.edit', id=rider.id) }}">Editar</a>
                <a href="{{ url_for('riders.delete', id=rider.id) }}" onclick="return confirm('Are you sure?')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    {% endblock %}  

    {% block url_placeholder %}
    {{ url_for('riders.create') }}"
    {% endblock %} 
    
    {% block name_placeholder %} Nuevo Jinete{% endblock %}