{% extends "base_show.html" %}
{% block content %}

<h1>Detalles de Jinete/Amazona</h1>
<div>
    <p><strong>Nombre:</strong> {{ rider.name }}</p>
    <p><strong>Apellido:</strong> {{ rider.surname }}</p>
    <p><strong>DNI:</strong> {{ rider.dni }}</p>
    <p><strong>Edad:</strong> {{ rider.age }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ rider.birthdate.strftime('%d/%m/%Y')}}</p>
    <p><strong>Lugar de Nacimiento:</strong> {{ rider.birth_place }}</p>
    <p><strong>Domicilio:</strong>{{ rider.address}}</p>
    <p><strong>Telefono actual:</strong> {{ rider.phone }}</p>
    <p><strong>Contacto de Emergencia:</strong> {{ rider.emergency_contact}}</p>
    <p><strong>Telefono de Contacto:</strong> {{ rider.emergency_contact_phone_number }}</p>
    <p><strong>Becado:</strong> {% if rider.scholarship == True %} Si {% else %} No {% endif %}</p>
    <p><strong>Porcentaje de beca:</strong> {% if rider.scholarship == True %} {{ rider.scholarship_percentage | float }}% {% else %} N/A {% endif %}</p>
    <p><strong>Profesionales que lo atienden:</strong> {{ rider.professionals }}</p>
    <p><strong>¿Posee Certificado de Discapacidad?</strong> {% if rider.disability_certificate == True %} Si {% else %} No {% endif %}</p>
    {% if rider.disability_certificate == True %} 
        <p><strong>Diagnóstico:</strong> {{ rider.diagnosis }}</p>
        {% if rider.diagnosis == 'OTRO' %}
            <p><strong>Otro:</strong> {{ rider.other }}</p>
        {% endif %}
    {% endif %}
    <p><strong>Tipo de Discapacidad:</strong> {% if rider.disability_type != 'None' %} {{ rider.disability_type }} {% else %} N/A {% endif %}</p>
    <p><strong>¿Percibe alguna asignación familiar?</strong> {% if rider.family_assignment == True %} Si {% else %} No {% endif %}</p>
    {% if rider.family_assignment == True %}
        {% for asignacion in rider.assignments %}
            <li>{{ asignacion.name }}</li>
        {% endfor %}
    {% endif %}
    <br>
    <p><strong>Pensión:</strong> {% if rider.pension %} {{ rider.pension }} {% else %} Ninguna {% endif %}</p>

    <h2>SITUACIÓN PREVISIONAL</h2>
    <p><strong>Obra Social:</strong> {{ rider.health_insurance }}</p>
    <p><strong>Número de Afiliado:</strong> {{ rider.affiliate_number }}</p>
    <p><strong>Curatela:</strong> {% if rider.guardianship == True %} Si {% else %} No {% endif %}</p>
    <p><strong>Observaciones:</strong> {{ rider.observations }}</p>

    <h2>INSTITUCIÓN ESCOLAR a la que CONCURRE ACTUALMENTE</h2>
    <p><strong>Institución Escolar:</strong> {{ rider.school_institution }}</p>
    <p><strong>Dirección de la Institución:</strong> {{ rider.institution_address }}</p>
    <p><strong>Grado:</strong> {{ rider.grade }}</p>
    <p><strong>Teléfono de la Institución:</strong> {{ rider.institution_phone }}</p>
    <p><strong>Observaciones:</strong> {{ rider.institution_observations }}</p>

    <h2>DATOS PERSONALES De FAMILIAR/es O TUTOR/es RESPONSABLE/s</h2>
    {% for tutor, relationship in tutors_with_relationship %}
        <h3>Familiar o tutor responsable</h3>
        <p><strong>Nombre:</strong> {{ tutor.name }}</p>
        <p><strong>Apellido:</strong> {{ tutor.surname }}</p>
        <p><strong>DNI:</strong> {{ tutor.dni }}</p>
        <p><strong>Parentesco:</strong> {{ relationship }}</p>
        <p><strong>Domicilio:</strong> {{ tutor.address }}</p>
        <p><strong>Telefono:</strong> {{ tutor.cellphone }}</p>
        <p><strong>Email:</strong> {{ tutor.email }}</p>
        <p><strong>Nivel de escolaridad:</strong> {{ tutor.educational_level }}</p>
        <p><strong>Actividad u ocupación:</strong> {{ tutor.occupation }}</p>
        <br>
    {% endfor %}

    <h2>TRABAJO EN NUESTRA INSTITUCIÓN</h2>
    <p><strong>Propuesta de Trabajo:</strong> {{ rider.work_proposal }}</p>
    <p><strong>Condición:</strong> {{ rider.condition }}</p>
    <p><strong>Sede:</strong> {{ rider.headquarters }}</p>
    <p><strong>Días:</strong> {% for day in rider.days %} {{ day.name }} {% endfor %}</p>
    <p><strong>Profesor/a o Terapeuta:</strong>
        {% if rider.therapist_teacher %}
        {{ rider.therapist_teacher.name }} {{ rider.therapist_teacher.surname }} - {{ rider.therapist_teacher.job_position}}
        {% else %}
        -
        {% endif %}
    </p>
    
    <p><strong>Conductor/a del caballo:</strong>
        {% if rider.horse_conductor %}
        {{ rider.horse_conductor.name }} {{ rider.horse_conductor.surname }} - {{ rider.horse_conductor.job_position }}
        {% else %}
        -
        {% endif %}
    </p>
    
    <p><strong>Caballo:</strong>
        {% if rider.horse %}
        {{ rider.horse.name }}
        {% else %}
        -
        {% endif %}
    </p>
    <p><strong>Conductor/a del caballo:</strong>
        {% if rider.track_assistant %}
        {{ rider.track_assistant.name }} {{ rider.track_assistant.surname }} - {{ rider.track_assistant.job_position }}
        {% else %}
        -
        {% endif %}
    </p>

</div>

<a href="{{ url_for('riders.edit', id=rider.id) }}">Editar</a>
<a href="{{ url_for('riders.index') }}">Volver a la lista</a>
<a href="{{ url_for('documents.index', entity_type="riders", entity_id=rider.id) }}">Ver documentos</a>
{% endblock %}
