{% extends "base_show.html" %}
{% block content %}

<h1>Detalles de Jinete/Amazona</h1>
<div>
    <p><strong>Nombre:</strong> {{ rider.nombre }}</p>
    <p><strong>Apellido:</strong> {{ rider.apellido }}</p>
    <p><strong>DNI:</strong> {{ rider.dni }}</p>
    <p><strong>Edad:</strong> {{ rider.edad }}</p>
    <p><strong>Fecha de Nacimiento:</strong> {{ rider.fecha_nacimiento.strftime('%d/%m/%Y')}}</p>
    <p><strong>Lugar de Nacimiento:</strong> {{ rider.lugar_nacimiento }}</p>
    <p><strong>Domicilio:</strong>{{ rider.domicilio}}</p>
    <p><strong>Telefono:</strong> {{ rider.telefono }}</p>
    <p><strong>Contacto de Emergencia:</strong> {{ rider.contacto_emergencia}}</p>
    <p><strong>Telefono de Contacto:</strong> {{ rider.telefono }}</p>
    <p><strong>Becado:</strong> {{ rider.becado }}</p>
    <p><strong>Porcentaje de beca:</strong> {% if rider.becado == True %} {{ rider.porcentaje_beca | float }}% {% else %} N/A {% endif %}</p>
    <p><strong>Profesionales:</strong> {{ rider.profesionales }}</p>
</div>

<a href="{{ url_for('riders.edit', id=rider.id) }}">Editar</a>
<a href="{{ url_for('riders.index') }}">Volver a la lista</a>
{% endblock %}