{% extends "base_form.html" %}

{% block form_action %}
{{ url_for('users.update', id=user.id) if is_update else url_for('users.create') }}
{% endblock %}

{% block form_fields %}
		<div class="form-group">
    <input type="text" name="alias" class="form-control" value="{{ user.alias if is_update else '' }}" placeholder="Nombre" required>
    <input type="email" name="email" class="form-control" value="{{ user.email if is_update else '' }}" placeholder="a@a.com" required>
    
    {% if not is_update %}
        <input type="password" name="password" placeholder="Contraseña" required>
    {% endif %}

    {% if is_update %}
        <label for="active">Activo</label>
        <input type="checkbox" name="active" value="true" {% if user.active %}checked{% endif %}>
		<div class="d-flex justify-content-center">
		  <div class="card shadow mt-4 mb-4 w-50">
			<div class="card-body">
			  <h5 class="card-title">Contraseña</h5>
			  <input class="form-control small" type="password" name="password" placeholder="Nueva contraseña">
			  <input class="form-control small" type="password" name="new_password" placeholder="Repetir nueva contraseña">
			</div>
		  </div>
		</div>
    {% endif %}

    <select class="form-control" name="role_id" required>
		<!-- value 1 is system_admin -->
        <option value="" disabled {{ 'selected' if not is_update }}>Seleccione un rol</option>
        <option value="2" {{ 'selected' if is_update and user.role_id == 2 }}>Administración</option>
        <option value="3" {{ 'selected' if is_update and user.role_id == 3 }}>Técnica</option>
        <option value="4" {{ 'selected' if is_update and user.role_id == 4 }}>Voluntariado</option>
        <option value="5" {{ 'selected' if is_update and user.role_id == 5 }}>Ecuestre</option>
    </select>
		</div>
{% endblock %}

