{% extends "base_index.html" %}

{% block title %}
    Usuarios
{% endblock %}

{% block page_title %}
    Usuarios
{% endblock %}

{% set show_search = true %}
{% block search_placeholder %}
Buscar por email
{% endblock %}

{% block filters %}
    <label for="role_id" class="form-label">Rol</label>
    <select class="form-control" name="role_id" id="role_id">
        <option value="">Todos los roles</option>
        {% for role in roles %}
        <option value="{{ role.id }}" {% if request.args.get('role_id')|int==role.id %}selected{% endif %}>{{ role.name }}
        </option>
        {% endfor %}
    </select>
    <!-- filter by active true/false -->
    <label for="active" class="form-label">Estado</label>
    <select class="form-control" name="active" id="active">
        <option value="">Todos</option>
        <option value="true" {% if request.args.get('active')=='true' %}selected{% endif %}>Activos</option>
        <option value="false" {% if request.args.get('active')=='false' %}selected{% endif %}>Inactivos</option>
    </select>
{% endblock %}

{% set sorting_criteria = [("alias", "Nombre"), ("email", "Email"), ("role_id", "Rol"), ("inserted_at", "Creación"), ("active", "Activo")] %}

{% set sortable_fields = ["email", "inserted_at"] %}

{% block table_rows %}
    {% for user in pagination.items %}
    <tr>
        <td>{{ user.alias }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role.name }}</td>
        <td>{{ user.formatted_inserted_at }}</td>
        <td>{{ 'Sí' if user.active else 'No' }}</td>
        <td>
		  <a href="{{ url_for('users.show', id=user.id) }}">Ver</a><br>
		  <a href="{{ url_for('users.update', id=user.id) }}">Editar</a><br>
			<a href="{{ url_for('users.delete', id=user.id) }}" onclick="return confirm('¿Está seguro?')">Eliminar</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="5">No se encontraron usuarios.</td>
    </tr>
    {% endfor %}
{% endblock %}
